
.card {
  position: relative;
  width: 500px;
  min-height: 230px;
  // min-height: 400px;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 3px 5px 12px rgba(203, 203, 203, 0.6);

  @media screen and (max-width: 768px) {
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
  }

  &--rose {
    background-color: $french-lilac;
  }

  &--blue {
    background-color: $malibu;
  }

  &--violet {
    background-color: $portage;
  }
}