$font-family-accent: 'Chivo', sans-serif;
$font-family-default: 'Roboto', sans-serif;

$font-size-default: 16px;
$font-size-medium: 40px;
$font-size-large: 70px;

$font-weight-thin: 300;
$font-weight-default: 400;
$font-weight-medium: 700;
$font-weight-large: 900;